<style>
h1{
max-width: 1000px;
  margin: auto;
padding: 50px;
text-align: center;
}

h2{
max-width: 1000px;
  margin: auto;
padding-bottom: 10px;
padding-top: 30px:
}

p{
max-width: 1000px;
margin: auto;
    position: relative;
    padding: 10px;
    background: #F6F4F0;
    color: #7A7A7A;   
} 

ul{
max-width: 1000px;
margin: auto;
    position: relative;
    padding: 20px;
    background: #F6F4F0;
    color: #7A7A7A;
}

</style>
